html {
    scroll-behavior: smooth;
}
.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col {
    width: 50%;
}
#navbox {
    position: fixed;
    width: 1200px;
    background-color: white;
    z-index: 2;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.menu a,
#header-block a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.3s;
}
.menu a:hover,
#header-block a:hover {
    background-color: black;
    color: white;
}
.menu a:active,
#header-block a:active {
    background-color: silver;
    border-color: silver;
}
#header-block,
#info-block {
    gap: 20px;
    padding-top: 110px;
}
#header-block h1 {
    font-size: 42px;
    font-weight: 700;
}
#header-block h2 {
    font-weight: 700;
    color: silver;
    font-size: 24px;
}
#header-block a {
    margin-top: 16px;
    display: inline-block;
}
#info-block img {
    width: 100%;
}
#info-block h4 {
    font-weight: 700;
    text-transform: uppercase;
}
#info-block p {
    font-size: 13px;
}
#characteristic-block {
    padding-top: 110px;
}
#characteristic-block h4 {
    margin-bottom: 30px;
}
#characteristic-block .row {
    gap: 20px;
}
#characteristic-block .col:last-child {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#characteristic-block .col img {
    position: absolute;
    height: 100%;
    right: -76%;
}
#characteristic-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#characteristic-block ul li:first-child {
    color: white;
    background-color: black;
    padding-left: 8px;
}
#characteristic-block ul li {
    display: flex;
}
#characteristic-block ul li p {
    width: 50%;
    margin: 10px 0 0;
}
#characteristic-block ul li:last-child p {
    margin-bottom: 10px;
}